@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
/*
@mixin container {
  width: 320px;
  margin: 0 auto;
}


  @media (min-width: $tablet) {
    widtр: 640px;
  }
  @media (min-width: $desktop) {
    width: 960px;
  }
*/

/*------Стилизация placeholder -----*/

@mixin input-placeholder {
  ::-webkit-input-placeholder,
  {
    @content;
  }

  :-moz-placeholder {/* Firefox 18- */
    @content;
  }

  ::-moz-placeholder {/* Firefox 19+ */
   @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}
@mixin textarea-placeholder {
  textarea::-webkit-input-placeholder {
    @content;
  }
  textarea::-moz-placeholder {
    @content;
  }
  textarea:-moz-placeholder {
    @content;
  }
  textarea:-ms-input-placeholder {
    @content;
  }
}
