@import "global/normalize.scss";

@import "mixins.scss";

@import "variables.scss";

@import "global/font.scss";

@import "blocks/page.scss";

@import "blocks/container.scss";

@import "blocks/page-header.scss";

@import "blocks/wrapper.scss";

@import "blocks/menu.scss";

@import "blocks/logo-main.scss";

@import "blocks/menu-open.scss";

@import "blocks/index-intro.scss";

@import "blocks/download.scss";


@import "blocks/button.scss";

@import "blocks/slogan.scss";

@import "blocks/features.scss";

@import "blocks/reviews.scss";

@import "blocks/contacts.scss";

@import "blocks/releases.scss";


@import "blocks/form-intro.scss";

@import "blocks/introduction.scss";

@import "blocks/form.scss";

@import "blocks/btn.scss";

@import "blocks/footer-links.scss";

@import "blocks/social.scss";

@import "blocks/popup.scss";

@import "blocks/photo-intro.scss";

@import "blocks/posts.scss";

@import "blocks/loading.scss";
