$background-color: #283645;
$background-color-second: #f2f2f2;
$header-background-color: rgba(0, 0, 0, 0.3);
$footer-background-color: #ffffff;

$text-logo: #ffffff;
$text-main-menu: #ffffff;

$text-title: #ffffff;
$text-color-main: #283645;
$text-color-second: #d22856;
$mail-color-active: #bec2c7;
$text-popup-color: #000000;
$text-title-second: #000000;

$form-item-color: #f2f2f2;

$border-color: #e5e5e5;
$border-color-hover: #283645;
$border-color-focus: #d22856;


$btn-color: #2aab6d;
$btn-text-color: #ffffff;
$btn-color-hover: #1c9b5e;
$btn-color-active: #1c9b5e;
$btn-color-disabled: #e5e5e5;

$button-loading-color-hvr: #ffffff;
$button-loading-color-active: rgba(255,255,255,0.3);

$button-cancel-color: #dddfe0;
$button-cancel-color-hvr: #b5b9be;
$button-cancel-color-active: rgba(255,255,255,0.3);


$font-family: "OpenSans", "Arial", sans-serif;
$font-size: 24px;
$line-height: 30px;
$font-weight: normal;
