.download {
  text-align: center;
  background: $background-color;
}
.download__source {
  margin-top: 10px;
}
.download__source-link {
  display: inline-block;
  vertical-align: top;
}
.download__source-description {
  color: $text-title;
  padding-right: 20px;
  padding-left: 20px;
}
