.index-intro {
  width: 100%;
}
.index-intro__inner {
  min-height: 400px;
  background: transparent url("../img/iphone-hand-mobile@1x.png") no-repeat bottom;
}
.index-intro__title {
  visibility: hidden;
  margin: 0;
  padding: 0;
}
