.main-menu {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}



.main-menu__inner {

}

.main-menu__list {
  min-height: 100px;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $background-color;

}

.main-menu__item {

 box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.15);
  /*box-shadow: 0 1px 0 0 #000000; */
 border-bottom: 1px solid #000000;

}

.main-menu__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: $text-main-menu;
  text-decoration: none;
}
