.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $header-background-color;
  min-height: 65px;
}
.page-header__inner {
}
.page-header__logo {
  color: $text-logo;
}
