.photo-intro {
  width: 100%;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  min-height: 200px;
}

.photo-intro__title {
  margin: 0px;
  padding: 0px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: $text-title-table;
  text-align: center;
}


