.popup {
}
.popup__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $text-popup-color;
}
.popup__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-main;
}
